# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

go-s3-test/go-s3-test
go-ec2-drill-test/go-ec2-drill-test
go-ec2-drill-test-v2/go-ec2-drill-test-v2
